@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');   /*400, 700*/

:root {
    --Dark-gray: hsl(0, 0%, 59%);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--Dark-gray);
}

.card-content {
    margin: 0 auto;
    width: 350px;
    height: 360px;
    background-color: white;
}

.stats {
    display: flex;
    gap: 2rem;
    
}